<mat-sidenav-container fullscreen>
    <!-- #sidenav es una referencia local al sidenav -->
    <mat-sidenav mode="push" #sidenav>
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a routerLink="./listado" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>label</mat-icon>
                <span>Listado de Héroes</span>
            </a>
            <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <span>Añadir Héroe</span>
            </a>
            <a routerLink="./buscar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon>
                <span>Buscar Héroe</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar>
        <!-- El evento clic utiliza la referencia local -->
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- Ver clase en "style.css", con esto tiro el botón hacia el borde derecho -->
        <span class="spacer"></span>
        <span>{{ auth.usuario }}</span>
        <button mat-button (click)="logout()">
            Logout
        </button>
    </mat-toolbar>

    <div class="container">
        <!-- Para mostrar las rutas hijas -->
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>

<!-- <h1>HeroesApp</h1>
<hr> -->
<!-- Para mostrar el contenido de la ruta hija, según la ruta a la que accedí
Siempre se mostrará la ruta padre, y el contenido de la hija -->
<!-- <router-outlet></router-outlet> -->