html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* El spacer toma todo el espacio restante, empuja todo a los bordes
   Utilizado por ej para tirar un boton hacia la derecha */
.spacer {
    flex: 1 1 auto;
}